{%extends 'productos/base.html' %}
{%block title%}Lista de Clientes{%endblock title%}

{%block navbar%}

{%endblock navbar%}

{%block content %}
<h1 align="center">Listado De Clientes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">COD. CLIENTE</th>
      <th scope="col">REPRESENTANTE</th>
      <th scope="col">NOMBRE COMERCIAL</th>
      <th scope="col">NIT</th>
      <th scope="col">CONTACTO</th>
      <th scope="col">DIRECCION</th>
      <th scope="col">CORREO ELECTORNICO </th>
      <th scope="col"><a  class="btn btn-primary" href="{%url "register_client"%}">Agregar Cliente</a></th>
    </tr>
  </thead>
  <tbody>
    {%for cliente in cliente_list%}
    <tr>
      <td>{{cliente.id_cliente}}</td>
      <td>{{cliente.n_representante}}</td>
      <td>{{cliente.nombre_comercial}}</td>
      <td>{{cliente.nit}}</td>
      <td>{{cliente.telefono}}</td>
      <td>{{cliente.direccion}}</td>
      <td>{{cliente.email}}</td>
      <td><a class="btn btn-outline-secondary" href="{%url "update_client" cliente.id_cliente%}">Editar</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>
<p>Mostrando 5 resultados por pagina.</p>
<br>
<div class="col col-md-12">
<nav aria-label="Page navigation example">
<ul class="pagination">
<li class="page-item">
  {% if page_obj.has_previous %}
  <a class="page-link" href="{% url 'list_client' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
    <span aria-hidden="true">Ant &laquo;</span>
    <span class="sr-only">Ant.</span>
  </a>

{% else %}
  <span> <a class='btn btn-disable'>Ant</a> </span>
{% endif %}

  <li class="page-item">
    {% if page_obj.has_next %}
    <a class="page-link" href="{% url 'list_client' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
      <span aria-hidden="true">Sig. &raquo;</span>
      <span class="sr-only">Sig.</span>
    </a>

{% else %}
  <span><a class='btn btn-disable'>Sig</a></span>
{% endif %}
</li>
</div>

{%endblock content%}
