{%extends 'productos/base.html' %}
{%block title%}Control de Pedidos{%endblock title%}

{%block navbar%}

{%endblock navbar%}

{%block content %}
{{hoy}}
  <h1>Despacho del Dia</h1>
  <br>
  <p>Despacho del Dia! aqui se carga una suma total de todos los articulos que deben enviarse, transpotarse para entregar</p>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad Total</th>
        <th scope="col">...</th>
      </tr>
    </thead>
    <tbody>
      {%for producto in productos%}
      <tr>
        <td>{{producto.producto}}</td>
        <td>{{producto.itemtotal}}</td>
        <td>
          <a href="{%url "detail_producto" producto.producto.id_producto%}">Ver producto</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

  <h3>SOLO DE HOY</h3>
  {%for hoy in pd_hoy%}
<p>{{hoy.producto}} , {{hoy.itemtotal}}</p>
  {%endfor%}



{%endblock content%}
