{%extends 'productos/base.html' %}
{%block title%}Detalle de Pedido{%endblock title%}


{%block content %}
<main role="main">
  <h1 align="center">Detalle del Pedido</h1>
  <div class="col-md-12">
    <table class="table table-sm" align="center">
      <thead>
        <tr>
          <th scope="col">NO. PEDIDO</th>
          <th scope="col">FECHA DEL PEDIDO</th>
          <th scope="col">CLIENTE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="Numeric">{{pedido.id_pedido}}</td>
          <td>{{pedido.date}}</td>
          <td>{{pedido.cliente}}</td>

        </tr>

        </tbody>
        </table>
        <br>
        {% if messages %}
        <ul class="messages">
          {%include "productos/mensajes.html"%}
        </ul>
        {% endif %}
        {%if object.finished == False %}
        {%include "pedidos/widgets_add_product.html"%}
        {%endif%}

  </div>
  <br>
  <br>
      <div class="col-md-12">
        <h2>Detalle de Articulos</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">CANTIDAD</th>
              <th scope="col">PRODUCTO</th>
              <th scope="col">PRECIO UNIT</th>
              <th scope="col">SUBTOTAL</th>
              <th scope="col">-</th>
              <!-- <th scope="col">Precio</th> -->

            </tr>
          </thead>
          <tbody>
            <tr>
              {%for item in items%}

              <td>{{item.cantidad}}</td>
              <td>{{item.producto}}</td>
              <td>Q.{{item.producto.precio}}</td>
              <td>Q.{{item.sub_total}}</td>
              {%if object.finished == False %}
              <td><a class="btn btn-danger" href="{%url "remove_product"  item.pk%}">Quitar</a>
                  <a class="btn btn-info" href="{%url "update_product"  item.id%}">Editar</a>
                  </td>
              {%endif%}
              <!-- <td>Q.{{item.precio}}</td> -->
            </tr>
            {%endfor%}
            <tr>
              <td>
              </td>

              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <h3 align="right">TOTAL: Q.{{pedido.totalpedido}}</h3>
        <h4 align="right" style="color:red;">-Q.{{pedido.Abonado}}</h4>
        <h2 align="right">SALDO: Q.{{pedido.Saldo}}</h2>
        {%if object.finished == False %}
        <a class="btn btn-danger" href="{%url "finalizar_pedido" object.pk%}">Finalizar Pedido</a>
        <a class="btn btn-warning" href="{%url "remove_pedido" object.pk%}">Eliminar Pedido</a>
        {%else%}
        <br>
        <h2 style="color:blue";>ESTE PEDIDO YA FUE FINALIZADO Y NO PUEDE SER MODIFICADO</h2>
        {%endif%}
          <!-- <p><b>Producto:  </b>{{productos.nombre}}</p>
          <p><b>Precio:  </b>Q.{{productos.precio}}</p>
          <p><b>Categoria:  </b>{{productos.categoria.nombre}}</p>
          <p><b>Codigo:  </b>{{productos.codigo}}</p> -->
      </div>
  {%if abonos%}
  <br>
  <h2>TOTAL ABONADO: {{pedido.Abonado}}</h2>
  {%endif%}
  <br>
<h4>Historial de Abonos</h4>
<br>
{%for abono in abonos%}
<p> <b>Fecha:</b> {{abono.fecha}} por Q.{{abono.cantidad}} en {{abono.tipo_pago}} <a href="{%url "update_abono" abono.pk%}">Editar</a></p>
{%empty%}
<br>
<div class="alert alert-warning" role="alert">
  <h4>Lo Sentimos!</h4> No hay Abonos de este pedido!
</div>
{%endfor%}
<br>
</main>
{%endblock content%}
