{%extends 'productos/base.html' %}
{%block title%}Control de Pedidos{%endblock title%}


{%block content %}
<h1 align="center">Agregar producto al Cliente</h1>
<div class="col-md-12">

<form action="{%url "agregar_producto"%}" method="POST">
  {% csrf_token %}
  <div class="form-group">
  <label for="exampleFormControlSelect1">Pedido</label>

  <select class="form-control" id="exampleFormControlSelect1" name="id_pedido">
    {%for pedido in pedidos%}
    <option value="{{pedido.id_pedido}}" >{{pedido.id_pedido}} - {{pedido.cliente}} - Q.{{pedido.totalpedido}}</option>
    {%endfor%}
  </select>
  <br>
  <select class="form-control" id="exampleFormControlSelect1" name="producto">
    {%for producto in productos%}
    <option value="{{producto.id_producto}}" >{{producto.nombre}}</option>
    {%endfor%}
  </select>
  <div class="form-group">
    <label for="exampleFormControlInput1">Cantidad </label>
    <input type="number" class="form-control" id="exampleFormControlInput1" name="cantidad" placeholder="Cantidad de Productos" required="required">
  </div>
  <button type="submit" class="btn btn-success btn-block mt-5">Agregar producto</button>
</div>
<br><br>
<a align="middle" class="btn btn-info" href="{%url "ver_pedidos"%}">Regresar a Pedidos</a>
</div>

{%endblock content%}
