{%extends 'productos/base.html' %}
{%block title%}Control de Pedidos{%endblock title%}


{%block content %}
<h1 align="center">Abonar a un Pedido</h1>
<div class="col-md-12">

<form action="{%url "create_abono"%}" method="POST">
  {% csrf_token %}
  <div class="form-group">
  <label for="exampleFormControlSelect1">Pedido</label>

  <select class="form-control" id="exampleFormControlSelect1" name="id_pedido">
    {%for pedido in pedidos%}
    <option value="{{pedido.id_pedido}}" >{{pedido.id_pedido}} - {{pedido.cliente}} - Q.{{pedido.Saldo}}</option>
    {%endfor%}
  </select>
  <br>
  <label for="exampleFormControlSelect1">Metodo de Pago</label>
  <select class="form-control" id="exampleFormControlSelect1" name="tipo_pago">
    {%for t_pago in tipo_pagos%}
    <option value="{{t_pago.pk}}" >{{t_pago.tipo_pago}}</option>
    {%endfor%}
  </select>
  <br>
  {%if pedido.tipo_pago.pk == 2%}
  <div class="form-group">
    <label for="exampleFormControlInput1">No. Cheque</label>
    <input type="number" step=".01" class="form-control" id="exampleFormControlInput1" name="cantidad" placeholder="Monto a Abonar" required="required">
  </div>
  {%endif%}
  <div class="form-group">
    <label for="exampleFormControlInput1">Monto Q. </label>
    <input type="number" step=".01" class="form-control" id="exampleFormControlInput1" name="cantidad" placeholder="Monto a Abonar" required="required">
  </div>
  <div class="form-group">
    <label for="comment">Observaciones</label>
    <textarea class="form-control" rows="5" id="comment" name="observaciones" placeholder="..."></textarea>
  </div>
  <button type="submit" class="btn btn-success btn-block mt-5">Finalizar Abono</button>
</div>
<br><br>
<a align="middle" class="btn btn-info" href="{%url "ver_pedidos"%}">Regresar a Pedidos</a>
  <!-- <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
    </select>
  </div> -->

</div>

{%endblock content%}
