{%extends 'productos/base.html' %}
{%block title%}Lista de Clientes{%endblock title%}

{%block navbar%}

{%endblock navbar%}

{%block content %}
<h1 align="center">Pedidos Sin Finalizar </h1>
{% if messages %}
  <ul class="messages">
    {%include "productos/mensajes.html"%}
  </ul>
{% endif %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">NO. PEDIDO</th>
      <th scope="col">CLIENTE </th>
      <th scope="col">FECHA DEL PEDIDO</th>
      <th scope="col">CANT DE ITEMS</th>
      <th scope="col">TOTAL </th>
      <th scope="col">SALDO </th>
      <th scope="col">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    {%for pedidos in pedidoventas_list%}
    <tr>
      <td>{{pedidos.id_pedido}}</td>
      <td>{{pedidos.cliente.nombre_comercial}}</td>
      <td>{{pedidos.date}}</td>
      <td>{{pedidos.conteoItems}}</td>
      <td>Q.{{pedidos.totalpedido}}</td>
      <td>Q.{{pedidos.Saldo}}</td>
      <td><a class="btn btn-outline-secondary" href="{%url "detail_pedido" pedidos.id_pedido%}">+</a></td>
    </tr>
    {%empty%}
    <div class="alert alert-success" role="alert">
      <h4>Excelente!</h4> No hay pedidos sin finalizar
    </div>
    {%endfor%}
  </tbody>
</table>
<p>Mostrando 10 resultados por pagina.</p>
<br>
<br>
<div class="col col-md-12">
<nav aria-label="Page navigation example">
<ul class="pagination">
<li class="page-item">
  {% if page_obj.has_previous %}
  <a class="page-link" href="{% url 'pedidos_sin_finalizar' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
    <span aria-hidden="true">Ant &laquo;</span>
    <span class="sr-only">Ant.</span>
  </a>

{% else %}
  <span> <a class='btn btn-disable'>Ant</a> </span>
{% endif %}

  <li class="page-item">
    {% if page_obj.has_next %}
    <a class="page-link" href="{% url 'pedidos_sin_finalizar' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
      <span aria-hidden="true">Sig. &raquo;</span>
      <span class="sr-only">Sig.</span>
    </a>

{% else %}
  <span><a class='btn btn-disable'>Sig</a></span>
{% endif %}
</li>
</div>




{%endblock content%}
