{%include 'pedidos/encabezado.html'%}

  <br>
  <h1 align="center">RESUMEN DEL DIA DE HOY</h1>
  <p><b>Creado el: </b> {{date}}</p>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th align="left">TOTAL DE PEDIDOS</th>
        <th align="center">TOTAL DE ABONOS RECIBIDOS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td align="left">Q.{{pedidos.generado}}</td>
          {%if abonos.abonos_total%}
          <td align="center">Q.{{abonos.abonos_total}}</td>
          {%else%}
          <td align="center"> Q.0</td>
          {%endif%}

      </tr>
    </tbody>
  </table>
<p>-------------------------------------------------------------------</p>
<p>Cantidad de Pedidos Hechos el dia de Hoy:  <b>{{contador.contador_pedido}}</b></p>
<p>Cantidad de Abonos Recibidos: <b>{{contador_a.contador_abono}}</b></p>
