{% block content %}
{%include 'pedidos/encabezado.html'%}

<main role="main">
  <br>
    <table align="left">
      <thead>
        <tr>
          <th align="left">NO. PEDIDO</th>
          <th scope="col">FECHA DEL PEDIDO</th>
          <th scope="col">CLIENTE</th>
          <th>TOTAL</th>
        </tr>
        </thead>
        <tr align="center">
          <td>{{pedido.id_pedido}}</td>
          <td align="center" width="auto">{{pedido.date}}</td>
          <td align="center" width="auto">{{pedido.cliente}}</td>
          <td align="center" width="auto">Q.{{pedido.total}}</td>
        </tr>
        </table>

        <div class="col-md-12">
          <h2>Detalle de Articulos</h2>
          <table>
            <thead>
              <tr>
                <th scope="col">CANTIDAD</th>
                <th align="left">PRODUCTO</th>
                <th scope="col">PRECIO UNIT</th>
                <th scope="col">SUBTOTAL</th>
            </thead>
            <tbody>
              <tr>
                {%for item in items%}

                <td align="center" width="auto">{{item.cantidad}}</td>
                <td align="left" width="auto">{{item.producto}}</td>
                <td align="center" width="auto">Q.{{item.producto.precio}}</td>
                <td align="center" width="auto">Q.{{item.sub_total}}</td>
                <!-- <td>Q.{{item.precio}}</td> -->
              </tr>
              {%endfor%}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td align="center">----------------------</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td align="right">TOTAL:</td>
                <td align="center"><b>Q.{{pedido.totalpedido}}</b></td>
              </tr>
            </tbody>
          </table>
          <!-- <h3 align="right">TOTAL: Q.{{pedido.totalpedido}}</h3> -->
          <!-- <h4 align="right" style="color:red;">-Q.{{pedido.Abonado}}</h4> -->
          <h2 align="center">TOTAL: Q.{{pedido.totalpedido}}</h2>
          <p align="center">Gracias por su preferencia</p>
            <!-- <p><b>Producto:  </b>{{productos.nombre}}</p>
            <p><b>Precio:  </b>Q.{{productos.precio}}</p>
            <p><b>Categoria:  </b>{{productos.categoria.nombre}}</p>
            <p><b>Codigo:  </b>{{productos.codigo}}</p> -->
        </div>
{% endblock %}
