{%extends 'productos/base.html' %}
{%block title%}Control de Pedidos{%endblock title%}



{%block content %}

<h1>HISTORIAL DE PAGOS Y PEDIDOSS</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">No. Pedido</th>
      <th scope="col">Cliente</th>
      <th scope="col">Monto del Pedido</th>
      <th scope="col">Saldo Abonado:</th>
      <th scope="col">Saldo Pendiente:</th>
      <th scope="col"><a class="btn btn-primary"  href="{%url "create_abono"%}">Abonar</a></th>
    </tr>
  </thead>
  <tbody>
    {%for pedido in pedidos%}
    <tr>
      <th scope="row">{{pedido.id_pedido}}</th>
      <td>{{pedido.cliente.nombre_comercial}}</td>
      <td>Q.{{pedido.totalpedido}}</td>
      <td>Q.{{pedido.Abonado}}</td>
      <td>Q.{{pedido.Saldo}}</td>
      <td><a class="btn btn-danger"  href="{%url "detail_pedido" pedido.id_pedido%}">Ver</a>

      </td>
    </tr>
{%endfor%}
  </tbody>
</table>
{%endblock content%}
