{%extends 'productos/base.html' %}
{%block title%}Despacho{%endblock title%}

{%block navbar%}


{%endblock navbar%}
{%block search_bar%}

{%endblock search_bar%}

{%block content %}
<h1 align='center'>Busqueda de Abonos</h1>
{% if messages %}
  <ul class="messages">
    {%include "productos/mensajes.html"%}
  </ul>
{% endif %}
<h3>Buscar</h3>
<br>
<form class="form-inline" action="." method="GET" autocomplete="off">
	<input class="form-control mr-sm-2" type="text" size="55%" name="q"  value="{{ query|escape }}" placeholder="Buscar por cliente, cantidad , tipo de pago, fecha">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>



{% if query %}
  {% if results%}


<br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Fecha del Pago</th>
			<th scope="col">Monto</th>
			<th scope="col">Metodo de Pago</th>
			<th scope="col">Observaciones</th>
      {% for search in results  %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{search.id_pedido}}</td>
      <td>{{search.fecha}}</td>
			<td>Q.{{search.cantidad}}</td>
			<td>{{search.tipo_pago}}</td>
			<td>{{search.observaciones}}</td>
    </tr>
{%endfor%}
</tbody>
</table>

{% else %}
<br>
<div class="alert alert-warning" role="alert">
  <h4>Lo Sentimos</h4> No se encontraron despachos para la fecha <b>"{{query}}"</b>
</div>

{%for item in items%}
<p>que onda</p>
<p>{{item.nombre}}</p> + <p>{{item.cantidad}}</p>
{%endfor%}

{% endif %}
{% endif %}



{%endblock content%}
