<h4>Agrega Producto Rapido</h4>
<form class="form-inline" action="{%url "agregar_producto"%}" method="POST" >
  {% csrf_token %}
  <div class="form-group">
  <div class="form-group">
    <input type="hidden" class="form-control" id="exampleFormControlInput1" name="id_pedido" value="{{pedido.id_pedido}}">
  </div>
  <select class="form-control" id="exampleFormControlSelect1" name="producto">
    {%for producto in productos%}
    <option value="{{producto.id_producto}}" >{{producto.nombre}}</option>
    {%endfor%}
</select>
  <br>
  <div class="form-group">
    <input type="number" class="form-control" id="exampleFormControlInput1" name="cantidad" placeholder="Cantidad de Productos" required=required>
  </div>
  <!-- <div class="form-group">
    <input type="number" class="form-control" id="exampleFormControlInput1" name="precio" value="" placeholder="Cantidad de Productos" >
  </div> -->
  <button type="submit" class="btn btn-success ">Agregar producto</button>
</div>
<br>
