<!DOCTYPE html>
<html lang="en">
  <head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{%url "index"%}">Control de Pedidos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Catalogo de Productos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url "search_cliente"%}">Buscar</a>
               <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url "list_client"%}">Ver Clientes</a>
              <a class="dropdown-item" href="{%url "register_client"%}">Agregar Cliente</a>
            </div>
    </li>
    <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pedidos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url "search_pedido"%}">Buscar Por Fecha</a>
              <a class="dropdown-item" href="{%url "search_estado_cuenta"%}">Buscar Por Cliente</a>
              <a class="dropdown-item" href="{%url "init_pedido"%}">Comenzar Pedido</a>
              <a class="dropdown-item" href="{%url "pedidos_sin_finalizar"%}">Pedidos Sin Finalizar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url "pedidos_hoy"%}">Pedidos de Hoy</a>
              <!-- <a class="dropdown-item" href="{%url "ver_pedidos"%}">Ver Todos</a> -->
              <!-- <a class="dropdown-item" href="{%url "iniciar_pedido"%}">Iniciar Un Pedido</a> -->
            </div>
    </li>
    <!-- <li class="nav-item active dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ver Saldos
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{%url "search_estado_cuenta"%}">Por Cliente</a>
        <a class="dropdown-item" href="{%url "ver_saldo"%}">Saldos Generales</a>
      </div>
    </li> -->
    <li class="nav-item active dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Producto
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{%url "buscar_producto"%}">Buscar</a>
        <a class="dropdown-item" href="{%url "buscar_producto_categoria"%}">Buscar en Categoria</a>
        <a class="dropdown-item" href="{%url "crear_producto"%}">Agregar Producto</a>
        <a class="dropdown-item" href="{%url "catalogo_list"%}">Listado de Productos</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="{%url "crear_categoria"%}">Crear Categoria</a>
        <a class="dropdown-item" href="{%url "list_categoria"%}">Lista de Categorias</a>
      </div>
    </li>
    <li class="nav-item active dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Reportes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{%url "search_pedido"%}">Imprimir Pedido</a>
        <a class="dropdown-item" href="{%url "search_reporte_pedido_abonos"%}">Imprimir Abonos de un Pedido</a>
        <a class="dropdown-item" href="{%url "reporte_pedidos_hoy"%}">Imprimir Despacho de Hoy</a>
        <a class="dropdown-item" href="{%url "pdfreporte_pedidos_hoy"%}">Imprimir Pedidos de Hoy</a>
        <a class="dropdown-item" href="{%url "cierre_diario"%}">Imprimir Cierre Diario</a>
      </div>
    </li>
    <li class="nav-item active dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Despacho
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{%url "despacho_pedido"%}">Por Fecha</a>
      </div>
    </li>
    <li class="nav-item active dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Abonos
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{%url "search_abono_fecha"%}">Buscar Abonos Por Fecha</a>
        <a class="dropdown-item" href="{%url "search_abono"%}">Buscar Abono</a>
         <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{%url "init_abono"%}">Ingresar Abono</a>

      </div>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link active" href="{%url "ingresar_abono"%}">Abonos</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link active" href="{%url "catalogo"%}">Catalogo</a>
    </li>
</ul>
{%block search_bar %}
{%endblock search_bar%}
<a class="btn btn-primary" href="{%url "logout"%}">Cerrar Sesion</a>


</div>
    </nav>

    <meta charset="utf-8">
    <title>{%block title%} {%endblock title%}</title>
    {% include 'productos/css.html' %}

    {% include 'productos/bootstrap_defaults.html' %}
  </head>
  <body>
    <div class="container">
      {%block content %}
      {%endblock content%}
    </div>
    {%include 'productos/js.html' %}
    <script>
      $(document).ready(function(){
        {%block jquery %} {%endblock%}
      })
    </script>
  </body>
</html>
