<!DOCTYPE html>
<html lang="en">
  <head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Catalogo de Productos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Catalogo de Productos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
{%block navbar%}

  {%endblock navbar%}
    </nav>

    <meta charset="utf-8">
    <title>{%block title%} {%endblock title%}</title>
    {% include 'productos/css.html' %}

    {% include 'productos/bootstrap_defaults.html' %}
  </head>
  <body>
    <div class="container">
      {%block content %}
      {%endblock content%}
    </div>
    {%include 'productos/js.html' %}
    <script>
      $(document).ready(function(){
        {%block jquery %} {%endblock%}
      })
    </script>
  </body>
</html>
