{%extends 'productos/base.html' %}
{%block title%}Catalogo{%endblock title%}
{%load static%}

{%block content %}
<h1 align="center">{{productos.nombre}}</h1>
<main role="main">

  <!-- <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section> -->

  <div class="album md-5">
    <div class="container">
      <div class="row">
        {% if productos.picture %}
        <img class="rounded" src="{{productos.picture.url}}" width="450px" height="450px" />
        {% else%}
        <img class="rounded" src="{% static 'productos/img/default.png' %}" width="450px" height="450px" />
        {%endif%}
      </div>
      <div class="col-md-12">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">SKU</th>
              <th scope="col">Producto</th>
              <th scope="col">Categoria</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{productos.codigo}}</td>
              <td>{{productos.nombre}}</td>
              <td>{{productos.categoria.nombre}}</td>
              <td>Q.{{productos.precio}}</td>
            </tr>
            <tr>
          </tbody>
        </table>

          <!-- <p><b>Producto:  </b>{{productos.nombre}}</p>
          <p><b>Precio:  </b>Q.{{productos.precio}}</p>
          <p><b>Categoria:  </b>{{productos.categoria.nombre}}</p>
          <p><b>Codigo:  </b>{{productos.codigo}}</p> -->
      </div>

    </div>
  </div>
</main>
{%endblock content%}
