{%extends 'productos/base.html' %}
{%block title%}Catalogo{%endblock title%}

{%block navbar%}
<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

  </ul>
</div>
{%endblock navbar%}


{%block content %}
<main role="main">

  <div class="col col-md-8">
    <br>
    <div class="alert alert-warning" role="alert">
      <h4>Advertencia</h4>Estas a punto de Eliminar la categoria: <b>{{object.nombre}}</b>
    </div>
  </div>
  <form action={%url "remove_categoria" object.pk%} method="post">{% csrf_token %}
    <br>
    <b>Detalle de la accion:</b>
    <br>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">NOMBRE</th>
          <th scope="col">DESCRIPCION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{object.nombre}}</td>
          <!-- <td>{{object}}</td> -->
          <td>Se eliminara la categoria y esto afectara a toddos los productos asociados a el </td>

        </tr>
      </tbody>
    </table>

    <br><br>
    <div class="alert alert-danger" role="alert">
      Estas seguro que deseas eliminar: {{object.nombre}}?
  </div>
  <!-- <input class="btn btn-danger" type="submit" value="Si, Eliminar"> -->
  <input class="btn btn-danger" type="submit" value="Si, Eliminar" />
  <a class='btn btn-info' href="{%url "list_categoria"%}">No, Regresar</a>
  </form>

</main>
{%endblock content%}
